legend{
    text-align: center;
}

h1{
    text-align: center;
}

#nameOfColumns{
    background-color: darksalmon;
}

#loginAndRegistration{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}